assignment/texFiles/*
assignment/.ipynb_checkpoints
assignment/lightning*
assignment/Nutrition_Assignment_*
assignment/wandb*
prac7/data
*.mat
!assignment/texFiles/Assignment.pdf
!assignment/texFiles/Assignment.tex
# datasets
*.csv
*.data
*.xlsx
*.gz
!assignment/Datasets/Rel_2_Nutrient_file.xlsx
!assignment/texFiles/images/
!assignment/Datasets/Australian_Health_Survey_Classification_System.xlsx