assignment/texFiles/*
assignment/.ipynb_checkpoints
assignment/lightning*
assignment/Nutrition_Assignment_*
assignment/wandb*
prac7/data
*.mat
!assignment/texFiles/Assignment.pdf
!assignment/texFiles/Assignment.tex
# datasets
*.csv
*.data
*.xlsx
*.gz
!assignment/Datasets/Rel_2_Nutrient_file.xlsx
!assignment/Datasets/Australian_Health_Survey_Classification_System.xlsx
assignment/Nutrition_Assignment_/0ix2o056/checkpoints/epoch=20-step=1386.ckpt
assignment/Nutrition_Assignment_/0izbdxv5/checkpoints/epoch=23-step=1344.ckpt
assignment/Nutrition_Assignment_/1d4c4xq7/checkpoints/epoch=37-step=2546.ckpt
assignment/Nutrition_Assignment_/2bwscwqz/checkpoints/epoch=85-step=2408.ckpt
assignment/Nutrition_Assignment_/2eq22tnl/checkpoints/epoch=57-step=812.ckpt
assignment/Nutrition_Assignment_/3v1x3oqb/checkpoints/epoch=36-step=2072.ckpt
assignment/Nutrition_Assignment_/3xtc808u/checkpoints/epoch=128-step=17931.ckpt
assignment/Nutrition_Assignment_/4h6q39ph/checkpoints/epoch=102-step=2884.ckpt
assignment/Nutrition_Assignment_/5j4yhcp5/checkpoints/epoch=101-step=6834.ckpt
assignment/Nutrition_Assignment_/5x1gji39/checkpoints/epoch=146-step=10290.ckpt
assignment/Nutrition_Assignment_/622qxym3/checkpoints/epoch=37-step=2128.ckpt
assignment/Nutrition_Assignment_/6e5mc0l4/checkpoints/epoch=1-step=112.ckpt
assignment/Nutrition_Assignment_/6q7r8adu/checkpoints/epoch=61-step=4154.ckpt
assignment/Nutrition_Assignment_/6zi8hyxp/checkpoints/epoch=24-step=1675.ckpt
assignment/Nutrition_Assignment_/7m0p8rk7/checkpoints/epoch=44-step=2520.ckpt
assignment/Nutrition_Assignment_/7t4lq795/checkpoints/epoch=95-step=6720.ckpt
assignment/Nutrition_Assignment_/8dk9m6qo/checkpoints/epoch=64-step=4290.ckpt
assignment/Nutrition_Assignment_/8gyoky2k/checkpoints/epoch=114-step=8050.ckpt
assignment/Nutrition_Assignment_/8k5s2z8k/checkpoints/epoch=69-step=5460.ckpt
assignment/Nutrition_Assignment_/99zkhrtp/checkpoints/epoch=50-step=5151.ckpt
assignment/Nutrition_Assignment_/9b122f5g/checkpoints/epoch=72-step=9563.ckpt
assignment/Nutrition_Assignment_/9sqjwfmm/checkpoints/epoch=80-step=6318.ckpt
assignment/Nutrition_Assignment_/a8ut798n/checkpoints/epoch=37-step=2128.ckpt
assignment/Nutrition_Assignment_/aetrpyir/checkpoints/epoch=20-step=1638.ckpt
assignment/Nutrition_Assignment_/ah1tjcec/checkpoints/epoch=12-step=871.ckpt
assignment/Nutrition_Assignment_/ahd0q60h/checkpoints/epoch=27-step=1568.ckpt
assignment/Nutrition_Assignment_/av7funzy/checkpoints/epoch=57-step=3828.ckpt
assignment/Nutrition_Assignment_/bii2xu6l/checkpoints/epoch=499-step=14000.ckpt
assignment/Nutrition_Assignment_/bk9978ja/checkpoints/epoch=56-step=3192.ckpt
assignment/Nutrition_Assignment_/c2taeml0/checkpoints/epoch=35-step=2016.ckpt
assignment/Nutrition_Assignment_/c57xmw54/checkpoints/epoch=45-step=2576.ckpt
assignment/Nutrition_Assignment_/crdp9s3v/checkpoints/epoch=69-step=4690.ckpt
assignment/Nutrition_Assignment_/docwdhfv/checkpoints/epoch=173-step=12180.ckpt
assignment/Nutrition_Assignment_/dogn1pso/checkpoints/epoch=111-step=7840.ckpt
assignment/Nutrition_Assignment_/ehm3g8c7/checkpoints/epoch=29-step=2010.ckpt
assignment/Nutrition_Assignment_/f2lvgbnd/checkpoints/epoch=6-step=469.ckpt
assignment/Nutrition_Assignment_/g8l1z0en/checkpoints/epoch=26-step=1512.ckpt
assignment/Nutrition_Assignment_/gmr4por7/checkpoints/epoch=36-step=2590.ckpt
assignment/Nutrition_Assignment_/hhx8g1ao/checkpoints/epoch=18-step=1273.ckpt
assignment/Nutrition_Assignment_/iainmrw9/checkpoints/epoch=6-step=392.ckpt
assignment/Nutrition_Assignment_/izhe0q4h/checkpoints/epoch=1-step=7142.ckpt
assignment/Nutrition_Assignment_/k5jwjqxm/checkpoints/epoch=92-step=24273.ckpt
assignment/Nutrition_Assignment_/kkaxo6k6/checkpoints/epoch=115-step=6496.ckpt
assignment/Nutrition_Assignment_/kus94kq5/checkpoints/epoch=43-step=2464.ckpt
assignment/Nutrition_Assignment_/law48ued/checkpoints/epoch=98-step=6930.ckpt
assignment/Nutrition_Assignment_/lb1qmdqt/checkpoints/epoch=67-step=4556.ckpt
assignment/Nutrition_Assignment_/liddjj3k/checkpoints/epoch=39-step=2240.ckpt
assignment/Nutrition_Assignment_/m1zg7ow4/checkpoints/epoch=98-step=2772.ckpt
assignment/Nutrition_Assignment_/nea42tsg/checkpoints/epoch=44-step=2520.ckpt
assignment/Nutrition_Assignment_/ngy8v5ub/checkpoints/epoch=86-step=2436.ckpt
assignment/Nutrition_Assignment_/nh6gihc4/checkpoints/epoch=48-step=2744.ckpt
assignment/Nutrition_Assignment_/nkbujywi/checkpoints/epoch=90-step=5096.ckpt
assignment/Nutrition_Assignment_/o0t0bvoj/checkpoints/epoch=50-step=5151.ckpt
assignment/Nutrition_Assignment_/oewof1pp/checkpoints/epoch=65-step=4620.ckpt
assignment/Nutrition_Assignment_/opolckvc/checkpoints/epoch=88-step=11659.ckpt
assignment/Nutrition_Assignment_/oxkh9jsu/checkpoints/epoch=25-step=1456.ckpt
assignment/Nutrition_Assignment_/p18dlvth/checkpoints/epoch=1-step=112.ckpt
assignment/Nutrition_Assignment_/pt4g4klv/checkpoints/epoch=45-step=1288.ckpt
assignment/Nutrition_Assignment_/ptjw0mk8/checkpoints/epoch=71-step=4032.ckpt
assignment/Nutrition_Assignment_/q7uvbl05/checkpoints/epoch=90-step=11921.ckpt
assignment/Nutrition_Assignment_/qnj2gmro/checkpoints/epoch=82-step=2324.ckpt
assignment/Nutrition_Assignment_/qsyc2kb6/checkpoints/epoch=41-step=2352.ckpt
assignment/Nutrition_Assignment_/s25rhye4/checkpoints/epoch=51-step=2912.ckpt
assignment/Nutrition_Assignment_/sfbzjkir/checkpoints/epoch=107-step=6048.ckpt
assignment/Nutrition_Assignment_/sg53hw2z/checkpoints/epoch=50-step=3570.ckpt
assignment/Nutrition_Assignment_/traxc1cd/checkpoints/epoch=135-step=17680.ckpt
assignment/Nutrition_Assignment_/tzum7ldk/checkpoints/epoch=140-step=19599.ckpt
assignment/Nutrition_Assignment_/u90sxvwn/checkpoints/epoch=23-step=1608.ckpt
assignment/Nutrition_Assignment_/vgfo5dgh/checkpoints/epoch=70-step=4757.ckpt
assignment/Nutrition_Assignment_/vhnnwezq/checkpoints/epoch=94-step=6365.ckpt
assignment/Nutrition_Assignment_/vsvnopvu/checkpoints/epoch=22-step=1794.ckpt
assignment/Nutrition_Assignment_/wcahjj2p/checkpoints/epoch=199-step=13400.ckpt
assignment/Nutrition_Assignment_/wiiejtkq/checkpoints/epoch=15-step=896.ckpt
assignment/Nutrition_Assignment_/xkup1mcg/checkpoints/epoch=67-step=4760.ckpt
assignment/Nutrition_Assignment_/y60b1j3r/checkpoints/epoch=45-step=2576.ckpt
assignment/Nutrition_Assignment_/yfndex45/checkpoints/epoch=95-step=7488.ckpt
assignment/Nutrition_Assignment_/yinjjy81/checkpoints/epoch=65-step=4620.ckpt
assignment/Nutrition_Assignment_/yokhp5lq/checkpoints/epoch=77-step=5460.ckpt
assignment/Nutrition_Assignment_/ysl9xurb/checkpoints/epoch=48-step=2744.ckpt
assignment/Nutrition_Assignment_/ywdzb18f/checkpoints/epoch=44-step=2520.ckpt
assignment/Nutrition_Assignment_/z2m3y5gu/checkpoints/epoch=42-step=2408.ckpt
assignment/Nutrition_Assignment_/zf2yt4n1/checkpoints/epoch=47-step=2688.ckpt
assignment/Nutrition_Assignment_/zpaz8aih/checkpoints/epoch=67-step=4760.ckpt
assignment/Nutrition_Assignment_/zregv30k/checkpoints/epoch=32-step=2310.ckpt
